.cart {
    padding: 23px;
    position: sticky;
    top: 8%;
}

.btn-parent button {
    width: 100%;
}

.btn-clear-cart {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}